
@{
    ViewBag.Title = "AccountPage";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
}

<style>
    .block_col {
        padding: 15px;
        margin: 5px;
        background-color: antiquewhite;
        box-shadow: 5px 5px 2px #888888;
    }

    .col{
        padding: 15px;
        margin: 5px;
        background-color: antiquewhite;
    }
</style>

<div class="row">
    <div class="col col-sm-3 block_col">
        Photo
    </div>
    <div class="col col-sm-8 block_col">
        Personal data
    </div>
</div>
<div class="row">
    <div class="col col-sm-5 block_col">
        <div class="row">
            <div class="col">
                Workflow
            </div>
        </div>
        <div class="row">
            <div class="col">
                Daily stats
            </div>
        </div>
    </div>
    <div class="col col-sm-6 block_col">
        Personal info
    </div>
</div>