
@{
    ViewBag.Title = "AccountPage";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
}

<style>
    .col {
        border: 1px solid black;
        padding: 15px;
        margin: 5px;
        background-color: antiquewhite;
    }
</style>

<div class="row">
    <div class="col col-sm-3">
        Photo
    </div>
    <div class="col col-sm-8">
        Personal data
    </div>
</div>
<div class="row">
    <div class="col col-sm-5">
        <div class="row">
            <div class="col">
                Workflow
            </div>
        </div>
        <div class="row">
            <div class="col">
                Daily stats
            </div>
        </div>
    </div>
    <div class="col col-sm-6">
        Personal info
    </div>
</div>