
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    <div class="info_block">
        <div class="form-horizontal" style="padding: 20px;">
            <div class="form-group">
                <input name="email" class="form-control" placeholder="E-mail" type="email" />
            </div>
            <input type="submit" style="margin: auto;" name="change_password" class="btn btn-block custom-btn-success" value="Send email" />
        </div>
    </div>
}