
@{
    ViewBag.Title = "CreateTarget";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";
}
<style>
    .main-col {
        padding: 15px;
        margin: 5px;
        background-color: antiquewhite;
        box-shadow: 2px 2px 1px 2px #888888;
    }

    .link {
        fill: none;
        stroke: #666;
        stroke-width: 1.5px;
    }

    circle {
        fill: #ccc;
        stroke: #333;
        stroke-width: 1.5px;
    }

    text {
        font: 10px sans-serif;
        pointer-events: none;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    }

    svg {
        background-color: #FFF;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 500px;
        height: 350px;
    }

        svg:not(.active):not(.ctrl) {
            cursor: crosshair;
        }

    path.link {
        fill: none;
        stroke: #000;
        stroke-width: 4px;
        cursor: default;
    }

    svg:not(.active):not(.ctrl) path.link {
        cursor: pointer;
    }

    path.link.selected {
        stroke-dasharray: 10,2;
    }

    path.link.dragline {
        pointer-events: none;
    }

    path.link.hidden {
        stroke-width: 0;
    }

    circle.node {
        stroke-width: 1.5px;
        cursor: pointer;
    }

        circle.node.reflexive {
            stroke: #000 !important;
            stroke-width: 2.5px;
        }

    text {
        font: 12px sans-serif;
        pointer-events: none;
    }

        text.id {
            text-anchor: middle;
            font-weight: bold;
        }
</style>
<div class="row">
    <div class="col main-col col-sm-12" style="min-height: 300px;" id="my_svg">
    </div>
    <div class="col main-col col-sm-4">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-11">
                    <input type="text" name="target_name" class="form-control" placeholder="What do you want to achieve" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-11">
                    <textarea class="form-control" name="target_tools" placeholder="How do you want to achieve this?"></textarea>
                </div>
            </div>
            <label for="time_measure" class="control-label">How much time do you need?</label>
            <div class="form-group">
                <div class="col-sm-11">
                    <input type="number" class="form-control" placeholder="Number of days" name="time_measure" />
                </div>
            </div>
            <label for="working_days" class="control-label">On which days you will work?</label>
            <div class="form-group">
                <div class="col-sm-11">
                    <select multiple name="working_days" class="form-control">
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                    </select>
                </div>
            </div>
            <label for="priority" class="control-label">Difficulty</label>
            <div class="form-group">
                <div class="col-sm-11">
                    <select name="priority" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-11">
                    <button type="button" id="add_target" class="btn btn-block custom-btn-success">Add</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-7">
        <div class="row">
            <div class="main-col col-sm-12" id="target_container" style="padding: 15px;">
                <p style="text-align: center">No targets found yet.</p>
            </div>
            <div class="col-sm-4 col-sm-push-4 main-col">
                <button class="btn custom-btn-success btn-block" id="submit_target">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="sortableModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close dismiss_sortable">&times;</button>
            </div>
            <div class="modal-body">
                <p>Here is the most optimal order of solving the subtargets. However, you can change it as much as you want</p>
                <ul id="sortable" style="list-style-type:decimal"></ul>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="start_date" class="control-label col-sm-5 col-sm-offset-3">On which day you start?</label>
                        <div class="col-sm-11">
                            <input type="date" class="form-control col-sm-offset-3" name="start_date" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom-btn-success" id="save_target" data-dissmiss="modal">Save</button>
                <button type="button" class="btn btn-default dismiss_sortable">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/TargetGraph.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#submit_target").click(function () {

                var toPost = [];

                for (var i = 0; i < nodes.length; ++i) {
                    toPost.push({
                        Id: nodes[i].id,
                        Name: nodes[i].elem.name,
                        Difficulty: nodes[i].elem.difficulty,
                        PreTargets: nodes[i].elem.prevTargets
                    });
                }


                $.ajax({
                    method: 'POST',
                    url: '/api/Targets/Post',
                    dataType: 'json',
                    headers: {
                        Authorization: 'Bearer ' + getCookie('access_token')
                    },
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(toPost),
                    success: function (res) {
                        var array = res;

                        for (var i = 0; i < array.length; ++i) {
                            $("#sortable").append('<li style="background-color: blue; padding: 10px; margin: 3px; border-radius: 3px;"><p style="color: white;">' + array[i].Name + '</p></li>');
                        }

                        $("#sortable").sortable();
                        $("#sortable").disableSelection();
                        $("#sortableModal").modal("show");
                    },
                    error: function (res) {
                        displayMessage("Error", JSON.stringify(JSON.parse(res.responseText).ExceptionMessage));
                    }
                });

            });

            $(".dismiss_sortable").click(function () {
                $("#sortable li").remove();

                $("#sortableModal").modal("hide");
            });

            $("#save_target").click(function () {

                var toPassTargets = [];
                var firstOneName = $("#sortable li").first().text();

                for (var i = 0; i < nodes.length; ++i) {
                    toPassTargets.push({
                        Name: nodes[i].elem.name,
                        Solution: nodes[i].elem.tools,
                        Duration: nodes[i].elem.numOfDays,
                        Difficulty: nodes[i].elem.difficulty,
                        WorkingDays: nodes[i].elem.workingDays,
                        StartDate: nodes[i].elem.name == firstOneName ? $('input[name="start_date"]').val() : null,
                        UserEmail: '@User.Identity.Name'
                    });
                }

                var toPassTargetNames = [];

                $("#sortable li").each(function () {
                    toPassTargetNames.push($(this).text());
                });

                var toPass = { Targets: toPassTargets, TargetNames: toPassTargetNames };

                $.ajax({
                    method: 'POST',
                    url: '/api/Targets/PostToSave',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    headers: {
                        Authorization: 'Bearer ' + getCookie('access_token')
                    },
                    data: JSON.stringify(toPass),
                    success: function (res) {
                        window.location = '@Url.Action("StartPage", "Main",null)';
                    },
                    error: function (res) {
                        window.location = '@Url.Action("StartPage", "Main",null)';
                    }
                });
            });

        });
    </script>
}