<div id="@ViewData["id"]" class="infoBlock start-view-block" style="padding:10px;margin:0; background-repeat: no-repeat; background-size: cover; background-image: url('../../Common/Images/landing_background_@(ViewData["num"].ToString()).jpg'); width: 99.73%;">
    <div class="row">
        <div class="col col-sm-4 col-sm-push-1 infoTitle" style="min-height: 100px;margin: 10px;">
            <h1 style="font-family:Arial; margin-top: 20px; color: white; text-align: center;">@ViewData["title"]</h1>
        </div>
        <div class="col col-sm-push-1 col-sm-6 infoDescription" style="min-height: 350px;margin: 10px;">
            <h3 style="font-family:Arial;  margin-top: 20px;color: white; text-align: center;">@ViewData["description"]</h3>
        </div>
    </div>
</div>